<section id="about" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated slideInLeft"><strong>Home</strong></h1>
                <hr>    
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
              Available Endpoints
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary waves-light" type="button" (click)="stripeEndpoints.toggle()" mdbRippleRadius>
                    Stripe
                </button>
                <div class="" [mdbCollapse]="isCollapsed" #stripeEndpoints="bs-collapse">
                    <p>Tokens</p>
                    <ul>
                        <li>Create Token - <strong>http://es.tr3umphant-designs.com/assets/stripe/tokens/createToken.php [ apiKey: String | customerId: String | token: String ]</strong></li>
                    </ul>
                    <hr>
                    <p>Cards</p>
                    <ul>
                        <li>Create Card - <strong>http://es.tr3umphant-designs.com/assets/stripe/cards/createCard.php [ apiKey: String | customerId: String | token: String ]</strong></li>
                        <li>Retrieve Card - <strong>http://es.tr3umphant-designs.com/assets/stripe/cards/retrieveCard.php [ apiKey: String | customerId: String | cardId: String ]</strong></li>
                        <li>Update Card - <strong>http://es.tr3umphant-designs.com/assets/stripe/cards/updateCard.php [ apiKey: String | customerId: String | cardId: String | name: String ]</strong></li>
                        <li>List All Cards - <strong>http://es.tr3umphant-designs.com/assets/stripe/cards/listAllCards.php [ apiKey: String | customerId: String ]</strong></li>
                        <li>Delete Card - <strong>http://es.tr3umphant-designs.com/assets/stripe/cards/deleteCard.php [ apiKey: String | customerId: String | cardId: String ]</strong></li>
                    </ul>
                    <hr>
                    <p>Charges</p>
                    <ul>
                        <li>Capture Charge - <strong>http://es.tr3umphant-designs.com/assets/stripe/charges/captureCharge.php [ apiKey: String | chargeId: String ]</strong></li>
                        <li>Create Charge - <strong>http://es.tr3umphant-designs.com/assets/stripe/charges/createCharge.php [ apiKey: String | amount: Int | customerId: String | description: String ]</strong></li>
                        <li>List All Charges - <strong>http://es.tr3umphant-designs.com/assets/stripe/charges/listAllCharges.php [ apiKey: String | customerId: String ]</strong></li>
                        <li>Retrieve Charge - <strong>http://es.tr3umphant-designs.com/assets/stripe/charges/retrieveCharge.php [ apiKey: String | chargeId: String ]</strong></li>
                        <li>Update Charge - <strong>http://es.tr3umphant-designs.com/assets/stripe/charges/updateCharge.php [ apiKey: String | chargeId: String | description: String ]</strong></li>
                    </ul>
                    <hr>
                    <p>Customers</p>
                    <ul>
                        <li>Create Customer - <strong>http://es.tr3umphant-designs.com/assets/stripe/customers/createCustomer.php [ apiKey: String | email: String ]</strong></li>
                        <li>Delete Customer - <strong>http://es.tr3umphant-designs.com/assets/stripe/customers/deleteCustomer.php [ apiKey: String | customerId: String ]</strong></li>
                        <li>List All Customers - <strong>http://es.tr3umphant-designs.com/assets/stripe/customers/listAllCustomers.php [ apiKey: String ]</strong></li>
                        <li>Retrieve Customer - <strong>http://es.tr3umphant-designs.com/assets/stripe/customers/retrieveCustomer.php [ apiKey: String | customerId: String ]</strong></li>
                        <li>Update Customer - <strong>http://es.tr3umphant-designs.com/assets/stripe/customers/updateCustomer.php [ apiKey: String | customerId: String | description: String | token: String ]</strong></li>
                    </ul>
                    <hr>
                    <p>Orders</p>
                    <ul>
                        <li>List All Orders - <strong>http://es.tr3umphant-designs.com/assets/stripe/orders/listAllOrders.php [ apiKey: String | customer: String ]</strong></li>
                        <li>Create Order - <strong>http://es.tr3umphant-designs.com/assets/stripe/orders/createOrder.php [ apiKey: String | email: String ]</strong></li>
                        <li>Pay Order - <strong>http://es.tr3umphant-designs.com/assets/stripe/orders/payOrder.php [ apiKey: String | orderId: String | cardId: String ]</strong></li>
                        <li>Retrieve Order - <strong>http://es.tr3umphant-designs.com/assets/stripe/orders/retrieveOrder.php [ apiKey: String | orderId: String ]</strong></li>
                    </ul>
                    <hr>
                    <p>Payouts</p>
                    <ul>
                        <li>Create Payout - <strong>http://es.tr3umphant-designs.com/assets/stripe/payouts/createPayout.php [ apiKey: String | amount: Int | description: String | destination: String | source_type: String | statement_descriptor: String ]</strong></li>
                        <li>Cancel Payout - <strong>http://es.tr3umphant-designs.com/assets/stripe/payouts/cancelPayout.php [ apiKey: String | payoutId: String ]</strong></li>
                        <li>List All Payouts - <strong>http://es.tr3umphant-designs.com/assets/stripe/payouts/listAllPayouts.php [ apiKey: String | limit: Int | status: String ]</strong></li>
                        <li>Retrieve Payout - <strong>http://es.tr3umphant-designs.com/assets/stripe/payouts/retrievePayout.php [ apiKey: String | payoutId: String ]</strong></li>
                        <li>Update Payout - <strong>http://es.tr3umphant-designs.com/assets/stripe/payouts/updatePayout.php [ apiKey: String | payoutId: String | description: String ]</strong></li>
                    </ul>
                    <hr>
                    <p>Products</p>
                    <ul>
                        <li>List All Products - <strong>http://es.tr3umphant-designs.com/assets/stripe/products/listAllProducts.php [ apiKey: String ]</strong></li>
                        <li>Retrieve Product - <strong>http://es.tr3umphant-designs.com/assets/stripe/products/retrieveProduct.php [ apiKey: String | productId: String ]</strong></li>
                    </ul>
                    <p>Skus</p>
                    <ul>
                        <li>Retrieve Sku - <strong>http://es.tr3umphant-designs.com/assets/stripe/skus/retrieveSku.php [ apiKey: String | skuId: String ]</strong></li>
                    </ul>
                    <hr>
                    <p>Tokens</p>
                    <ul>
                        <li></li>
                    </ul>
                    <hr>
                    <p>Transfers</p>
                    <ul>
                        <li>Create Transfer - <strong>http://es.tr3umphant-designs.com/assets/stripe/transfers/createTransfer.php [ apiKey: String | accountId: String ]</strong></li>
                    </ul>
                    <hr>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary waves-light" type="button" (click)="emailEndpoints.toggle()" mdbRippleRadius>
                    Email
                </button>
                <div class="" [mdbCollapse]="isCollapsed" #emailEndpoints="bs-collapse">
                    <hr>
                    <ul>
                        <li>Send Email - <strong>http://es.tr3umphant-designs.com/assets/email/sendEmail.php [ to: String | from: String | subject: String | message: String ]</strong></li>
                    </ul>
                </div>  
            </div>
        </div> -->
    </div>
</section>