<section id="about" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated slideInLeft"><strong>Home</strong></h1>
                <hr>    
            </div>
        </div>
        <div class="row">
            <div class="col">
              Available Endpoints
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary waves-light" type="button" (click)="stripeEndpoints.toggle()" mdbRippleRadius>
                    Stripe
                </button>
                <div class="" [mdbCollapse]="isCollapsed" #stripeEndpoints="bs-collapse">
                    <ul>
                        <li>Delete Card - <strong>http://es.tr3umphant-designs.com/assets/stripe/cards/deleteCard.php</strong></li>
                        <li>Create Charge - <strong>http://es.tr3umphant-designs.com/assets/stripe/charges/createCharge.php</strong></li>
                    </ul>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary waves-light" type="button" (click)="emailEndpoints.toggle()" mdbRippleRadius>
                    Email
                </button>
                <div class="" [mdbCollapse]="isCollapsed" #emailEndpoints="bs-collapse">
                    <ul>
                        <li>Send Email - <strong>http://es.tr3umphant-designs.com/assets/email/sendEmail.php</strong></li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</section>